@attribute [Authorize]

@attribute [Route($"/{nameof(ToDoList)}")]

@using Syncfusion.Blazor.Grids
@using ToDo.Shared.DTOs.ToDo
@using ShiftSoftware.ShiftEntity.Model.Extensions

<ShiftList EntitySet="ToDo"
           Title="ToDo List"
           T="ToDoListDTO"
           Dense
           ComponentType="typeof(ToDoForm)"
           ShowIDColumn="true"
           TypeAuthAction="ToDo.Shared.ToDoActions.ToDo"
           EnableExport>
    <PropertyColumn Property="x => x.Title" Title="Title" />
    <PropertyColumn Property="x => x.Description" Title="Description" />
    <PropertyColumn Property="x => x.Project" Title="Project" />

    <TemplateColumn Title="Status">
        <CellTemplate>
            <span>@context.Item!.Status!.Describe()</span>
        </CellTemplate>
    </TemplateColumn>
</ShiftList>
